<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.pic.api.base.mapper.SysTaskJobMapper">
    <!-- 由 https://github.com/CandyMuj/MyBatisPlusGenerator 自动生成！-->
    <resultMap id="SysTaskJob" type="SysTaskJob">
        <id property="jobId" column="job_id"/>
        <result property="beanName" column="bean_name"/>
        <result property="methodName" column="method_name"/>
        <result property="methodParams" column="method_params"/>
        <result property="cronExpression" column="cron_expression"/>
        <result property="remark" column="remark"/>
        <result property="jobStatus" column="job_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

</mapper>