<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.pic.api.base.mapper.SystemLogMapper">

    <!-- 日志列表查询 -->
    <select id="logList" parameterType="SystemLogVo" resultType="SystemLogVo">
        select
        a.*,
        b.account
        from system_log a
        left join user_account b on a.user_account_id = b.user_account_id

        <where>
            <if test="logType != null">
                and a.log_type = #{logType}
            </if>
            <if test="ip != null and ip != ''">
                and a.ip like concat('%',#{ip},'%')
            </if>
            <if test="describe != null and describe != ''">
                and a.describe like concat('%',#{describe},'%')
            </if>
            <if test="startDate != null">
                and date_format(a.add_time,'%Y-%m-%d') &gt;= date_format(#{startDate},'%Y-%m-%d')
            </if>
            <if test="endDate != null">
                and date_format(a.add_time,'%Y-%m-%d') &lt;= date_format(#{endDate},'%Y-%m-%d')
            </if>

            <if test="account != null and account != ''">
                and b.account like concat('%',#{account},'%')
            </if>
        </where>

        order by a.add_time desc
    </select>

</mapper>